APP_NAME=ICALA
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost:8000

APP_LOCALE=es
APP_FALLBACK_LOCALE=en
APP_FAKER_LOCALE=es_ES

DB_CONNECTION=pgsql
DB_HOST=
DB_PORT=
DB_DATABASE=
DB_USERNAME=
DB_PASSWORD=
DB_SSLMODE=require

# DRIVERS PARA LOCAL
LOG_CHANNEL=stack
LOG_LEVEL=debug
CACHE_STORE=file
SESSION_DRIVER=file
SESSION_LIFETIME=120
QUEUE_CONNECTION=sync

# FILESYSTEM
FILESYSTEM_DISK=local

# MAIL (LOG PARA PRUEBAS)
MAIL_MAILER=log
MAIL_FROM_ADDRESS="hello@example.com"
MAIL_FROM_NAME="${APP_NAME}"

# VITE
VITE_APP_NAME="${APP_NAME}"



//// DEPLOY en produccion

APP_DEBUG=false
APP_ENV=production
APP_FAKER_LOCALE=en_US
APP_FALLBACK_LOCALE=en
APP_KEY=
APP_LOCALE=es
APP_NAME=Laravel
APP_URL=
CACHE_DRIVER=file
CACHE_STORE=file
DB_CONNECTION=pgsql
DB_DATABASE=
DB_HOST=
DB_PASSWORD=
DB_SSLMODE=require
DB_USERNAME=
LOG_CHANNEL=stack
LOG_LEVEL=debug
QUEUE_CONNECTION=sync
SESSION_DRIVER=file
SESSION_ENCRYPT=true
SESSION_LIFETIME=120